<tr class="border-t">
  <td class="px-4 py-2"><%= @shopping_item.name %></td>
  <td class="px-4 py-2"><%= @shopping_item.category&.name || "-" %></td>
  <td class="px-4 py-2"><%= @shopping_item.quantity || "-" %></td>
  <td class="px-4 py-2"><%= @shopping_item.estimated_amount ? number_to_currency(@shopping_item.estimated_amount) : "-" %></td>
  <td class="px-4 py-2">
    <%= render StatusBadgeComponent.new(status: @shopping_item.status, type: :status) %>
  </td>
  <td class="px-4 py-2">
    <%= render StatusBadgeComponent.new(status: @shopping_item.item_type, type: :item_type) %>
  </td>
  <td class="px-4 py-2">
    <%= link_to "View", @shopping_item, class: "text-blue-500 hover:underline" %>
    <%= link_to "Edit", edit_shopping_item_path(@shopping_item), class: "text-blue-500 hover:underline ml-2" %>
    <% if @shopping_item.status == "pending" %>
      <%= link_to "Mark Purchased", mark_as_purchased_shopping_item_path(@shopping_item), 
          data: { turbo_method: :patch }, 
          class: "text-green-500 hover:underline ml-2" %>
    <% end %>
    <%= link_to "Delete", @shopping_item, method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500 hover:underline ml-2" %>
  </td>
</tr>

