<% if href.present? %>
  <%= link_to href, class: classes, data: { slot: "sidebar-menu-button", sidebar: "menu-button", active: active } do %>
    <%= content %>
  <% end %>
<% else %>
  <button type="button" data-slot="sidebar-menu-button" data-sidebar="menu-button" data-active="<%= active %>" class="<%= classes %>">
    <%= content %>
  </button>
<% end %>
