<div class="mx-auto md:w-2/3 w-full">

  <h1 class="font-bold text-4xl"><%= t("registrations.title") %></h1>

  <% if @user.errors.any? %>
    <div class="bg-danger-soft border border-danger-soft text-danger px-4 py-3 rounded mb-4">
      <h2 class="font-bold"><%= t("shared.errors_prohibited_create", count: @user.errors.count) %></h2>
      <ul class="list-disc list-inside">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: registration_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: t("registrations.name_placeholder"), class: "block shadow-sm rounded-md border border-input focus:outline-primary px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.email_field :email_address, required: true, autocomplete: "email", placeholder: t("registrations.email_placeholder"), class: "block shadow-sm rounded-md border border-input focus:outline-primary px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t("registrations.password_placeholder"), maxlength: 72, class: "block shadow-sm rounded-md border border-input focus:outline-primary px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t("registrations.password_confirmation_placeholder"), maxlength: 72, class: "block shadow-sm rounded-md border border-input focus:outline-primary px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit t("registrations.submit"), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-primary hover:bg-primary text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-muted-foreground sm:mt-0">
        <%= link_to t("registrations.sign_in_link"), new_session_path, class: "text-foreground underline hover:no-underline" %>
      </div>
    </div>
  <% end %>
</div>

