<%= render "shared/flash" %>

<p class="mb-4">
  <strong><%= t("shared.name") %>:</strong> <%= @task_area.name %>
</p>

<%= link_to t("shared.edit"), edit_task_area_path(@task_area), class: "text-blue-600 hover:underline" %>
<%= link_to t("shared.back"), task_areas_path, class: "text-blue-600 hover:underline ml-2" %>
