<div class="mx-auto md:w-2/3 w-full">

  <h1 class="font-bold text-4xl"><%= t("passwords.edit_title") %></h1>

  <%= form_with url: password_path(params[:token]), method: :put, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t("passwords.password_placeholder"), maxlength: 72, class: "block shadow-sm rounded-md border border-input focus:outline-solid focus:outline-primary px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t("passwords.password_confirmation_placeholder"), maxlength: 72, class: "block shadow-sm rounded-md border border-input focus:outline-solid focus:outline-primary px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit t("passwords.save"), class: "btn btn-primary w-full sm:w-auto text-center" %>
    </div>
  <% end %>
</div>
